# dependencies
node_modules/

# build
dist/

# environment variables
.env
.env.local
.env.*.local

# logs
logs/
*.log
npm-debug.log*

# editor
.vscode/
.idea/

# operating system
.DS_Store
Thumbs.db

# generated
generated/
/src/generated/prisma

logs/
*.log

.zip